In [3]:
pip install finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.94-py3-none-any.whl.metadata (466 bytes)
Requirement already satisfied: pandas>=0.19.2 in c:\users\atg72\anaconda3\lib\site-packages (from finance-datareader) (2.2.2)
Requirement already satisfied: requests>=2.3.0 in c:\users\atg72\anaconda3\lib\site-packages (from finance-datareader) (2.32.2)
Requirement already satisfied: requests-file in c:\users\atg72\anaconda3\lib\site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: lxml in c:\users\atg72\anaconda3\lib\site-packages (from finance-datareader) (5.2.1)
Requirement already satisfied: tqdm in c:\users\atg72\anaconda3\lib\site-packages (from finance-datareader) (4.66.4)
Requirement already satisfied: numpy>=1.26.0 in c:\users\atg72\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\atg72\appdata\roaming\python\python312\site-packages (from pandas>=0.19.2->finance-datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\atg72\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\atg72\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\atg72\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\atg72\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\atg72\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\atg72\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2024.6.2)
Requirement already satisfied: six in c:\users\atg72\appdata\roaming\python\python312\site-packages (from requests-file->finance-datareader) (1.16.0)
Requirement already satisfied: colorama in c:\users\atg72\appdata\roaming\python\python312\site-packages (from tqdm->finance-datareader) (0.4.6)
Downloading finance_datareader-0.9.94-py3-none-any.whl (89 kB)
   ---------------------------------------- 0.0/89.3 kB ? eta -:--:--
   ------------------ --------------------- 41.0/89.3 kB 991.0 kB/s eta 0:00:01
   ---------------------------------------- 89.3/89.3 kB 2.5 MB/s eta 0:00:00
Installing collected packages: finance-datareader
Successfully installed finance-datareader-0.9.94
Note: you may need to restart the kernel to use updated packages.

In [3]:
import re
import requests
import pandas as pd
from io import StringIO
from FinanceDataReader._utils import (_convert_letter_to_num, _validate_dates)

In [5]:
# 현대차 종목코드 : 005380 , 시작일 종료일 지정
url = 'https://fchart.stock.naver.com/sise.nhn?timeframe=day&count=6000&requestType=0&symbol=' # url
r = requests.get(url + "005380") # 종목코드

data_list = re.findall('<item data=\"(.*?)\" />', r.text, re.DOTALL)
data = '\n'.join(data_list)
df = pd.read_csv(StringIO(data), delimiter='|', header=None, dtype={0:str})
df.columns  = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d')
df.set_index('Date', inplace=True)
df.sort_index(inplace=True)
df['Change'] = df['Close'].pct_change(periods=5)
result = df.loc['2023-06-01':'2024-09-01'] # 시작일:종료일
print(result)
result.to_csv("Hyundai_price(계산용).csv", index= True)
print("크롤링한 데이터를 저장하였습니다")

              Open    High     Low   Close   Volume    Change
Date
2023-06-01  199800  199800  196300  197500   791585 -0.048193
2023-06-02  198500  199800  198100  199500   418613 -0.019656
2023-06-05  201500  203500  200000  201000   454150 -0.021898
2023-06-07  202500  203000  195400  196400   960900 -0.020449
2023-06-08  195500  197200  194000  196700   928559 -0.016500
...            ...     ...     ...     ...      ...       ...
2024-08-26  255500  258000  247500  249500   469538 -0.021569
2024-08-27  248500  251000  244500  247500   555018 -0.033203
2024-08-28  249500  261000  246000  259000  1170970  0.025743
2024-08-29  261500  267000  256000  258500  1646679  0.042339
2024-08-30  261000  265500  255500  255500  1206940  0.011881

[308 rows x 6 columns]
크롤링한 데이터를 저장하였습니다

In [7]:
result

              Open    High     Low   Close   Volume    Change
Date
2023-06-01  199800  199800  196300  197500   791585 -0.048193
2023-06-02  198500  199800  198100  199500   418613 -0.019656
2023-06-05  201500  203500  200000  201000   454150 -0.021898
2023-06-07  202500  203000  195400  196400   960900 -0.020449
2023-06-08  195500  197200  194000  196700   928559 -0.016500
...            ...     ...     ...     ...      ...       ...
2024-08-26  255500  258000  247500  249500   469538 -0.021569
2024-08-27  248500  251000  244500  247500   555018 -0.033203
2024-08-28  249500  261000  246000  259000  1170970  0.025743
2024-08-29  261500  267000  256000  258500  1646679  0.042339
2024-08-30  261000  265500  255500  255500  1206940  0.011881

[308 rows x 6 columns]

In [9]:
result = result.loc["2023-09-01":"2024-08-30"]
result

              Open    High     Low   Close   Volume    Change
Date
2023-09-01  188000  188900  186700  187400   281460  0.006445
2023-09-04  186400  187400  185600  187300   307475  0.010248
2023-09-05  186500  186900  185600  186600   290618 -0.000536
2023-09-06  186000  188300  186000  186700   259552 -0.005857
2023-09-07  185500  187200  185400  187200   299030 -0.010048
...            ...     ...     ...     ...      ...       ...
2024-08-26  255500  258000  247500  249500   469538 -0.021569
2024-08-27  248500  251000  244500  247500   555018 -0.033203
2024-08-28  249500  261000  246000  259000  1170970  0.025743
2024-08-29  261500  267000  256000  258500  1646679  0.042339
2024-08-30  261000  265500  255500  255500  1206940  0.011881

[244 rows x 6 columns]

In [11]:
result.to_csv("check.csv")